* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../src/assets/hatteruj.jpg);
    background-size: cover;
    height: 100%;
}

.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: bolder;
    text-decoration-style: solid;
    text-decoration-color: rgb(56, 56, 65);
}


table {
    margin-top: 300px;
    background-color: rgba(27, 15, 0, 0.654);
    border: 1px solid rgba(255, 244, 235, 0.316);
    width: 80%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


th {
    background-color: rgba(57, 26, 2, 0.629);
    border: 1px solid rgba(255, 244, 235, 0);
}

tr {
    color: rgba(238, 189, 149, 0.891);
    border: 1px solid rgb(255, 244, 235);
}

td {
    border: 1px solid black;
}

.hasznos {
    text-align: center;
    font-size: larger;
    color: rgb(57, 26, 2);
    background-color: rgba(238, 189, 149, 0.668);

}

.navbar{
    list-style: none;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 0px;
    text-align: center;
}

.navbar > li {
    float: left;
    margin-left: 120px;
}

.navbar > li > a {
    color : rgb(238, 189, 149);
    background-color: rgb(57, 26, 2, 0.629);
    display: block;
    font-family: "copperplate" , fantasy;
    height: max-content;
    font-size: 30px;
    border-radius: 8px;
    text-decoration: none;
    width: 190px;
    
}

.navbar > li > a:hover{
    background-color: rgb( 238, 189, 149);
    color: rgb(0, 0, 0);
}

address{
    font-stretch:expanded;
    font-size: x-large;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    background-color: rgba(150, 62, 0, 0.622);
    width: 500px;
    margin-top: 20%;
    color:antiquewhite ;
}